#schedule.every(1).hour.do(run_threaded, stats)
0 * * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f stats

#schedule.every(8).hours.do(run_threaded, like_hashtags)
6 */2 * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f like_hashtags

#schedule.every(2).hours.do(run_threaded, like_timeline)
20 1-23/2 * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f like_timeline

#schedule.every(1).days.at("16:00").do(run_threaded, like_followers_from_random_user_file)
*/16 * * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f like_followers_from_random_user_file

#schedule.every(1).hour.do(run_threaded, follow_followers)
*/17 * * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f follow_followers

#schedule.every(1).hour.do(run_threaded, follow_following)
*/20 * * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f follow_following

#schedule.every(16).hours.do(run_threaded, comment_medias)
*/30 * * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f comment_medias

#schedule.every(1).days.at("08:00").do(run_threaded, unfollow_non_followers)
0 15 * * 1,4 HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f unfollow_non_followers

#schedule.every(12).hours.do(run_threaded, follow_users_from_hashtag_file)
*/18 9-21 * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f follow_users_from_hashtag_file

#schedule.every(6).hours.do(run_threaded, comment_hashtag)
*/15 9-21 * * * HOME=/var/tmp/bbb && PATH=$HOME/.local/bin:$PATH && cd /var/tmp/bbb/instabot/examples/ultimate_schedule && python3 ultimate.py -f comment_hashtag

#schedule.every(1).days.at("21:28").do(run_threaded, upload_pictures)

#schedule.every(4).days.at("07:50").do(run_threaded, put_non_followers_on_blacklist)
